@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sans-serif {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif
}

a:link,
a:visited,
a:active,
a:hover {
  color: inherit;
}

img {
  height: auto;
}

.sticky {
  position: sticky;
}

@media screen and (min-width: 60em) {
  .sticky-l {
    position: sticky;
  }
}

.button-reset:active {
  outline: none;
}

.SkipToContent {
  width: 1px;
  height: 1px;
  clip: rect(1px,1px,1px,1px);
}

.SkipToContent:focus {
  z-index: 20;
  width: auto;
  height: auto;
  clip: auto;
}

.Navitem:not(.Navitem--current) a,
.Navitem:not(.Navitem--current) a .Navitem__bullet {
  transition: opacity 0.1s;
}

.Navitem:not(.Navitem--current) a:hover {
  opacity: 0.6;
}

.Navitem:not(.Navitem--current) a:hover .Navitem__bullet {
  opacity: 0.8;
}

.Navitem:not(.Navitem--current) .Navitem__bullet {
  opacity: 0;
}

.Thumbnail img {
  background-color: #f2f2f2;
}

.Lightbox img {
  animation: fadeIn 0.1s 0.1s both;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Lightbox-CloseButton:active {
  margin-top: 2px;
  margin-bottom: -2px;
}

svg.Icon {
  fill: currentColor;
}
